.appMenu {
    background-color: #010142;
    display: grid;
    grid-template-areas: "quiz weakestLink";
    height: 50px;
}

.quiz {
    grid-area: quiz;
    padding: 10px;
}

.weakestLink {
    grid-area: weakestLink;
    padding: 10px;
}