.appMenu {
    background-color: #010142;
    display: grid;
    grid-template-areas: "quiz weakestLink";
    padding: 1%;
}

.quiz {
    grid-area: quiz;
}

.weakestLink {
    grid-area: weakestLink;
}

.quizA, .weakestLinkA {
    text-decoration: none;
    color: white;
    font-size: 120%;
}