.main {
    background-color: #0052A3;
    display: grid;
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-rows: 8fr 3fr;
    grid-gap: 1vw;
    grid-template-areas:
            "chain question question"
            "chain bank timer";
}

.chain, .question, .bank, .timer {
    background-color: #003568;
    color: #ffffff;
}

.chain {
    grid-area: chain;
}

.question {
    grid-area: question;
}

.timer {
    grid-area: timer;
}

.bank {
    grid-area: bank;
}
