.questionWindowFinal {
    color: #ffffff;
}

.questionsFinal {
    font-size: 350%;
    margin: 5% 1%;
    min-height: 220px;
    border: 2px solid black;
}

.playerFinal {
    font-size: 250%;
}

.finalPlayerAnswers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% 20%;
}

.finalName {
   font-size: 120%;
}

.true {
    color: green;
}

.false {
    color: red;
}

.active {
    font-weight: bold;
    color: red;
}

.inactive {
    font-weight: normal;
    color: white;
}
