.questionWindow {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.player {
    font-weight: bold;
    color: red;
    font-size: 40px;
}
