.stats {

}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.secondPlayerStyle {
    display: inline-block;
    text-align: center;
    margin: 4% 2%;
    width: 20%;
    border: 2px solid black;
}

.secondPlayerStyle:hover .deletePlayerButton {
    visibility: visible;
}

.secondPlayerName {
    margin: 10% 0;
    color: #ffffff;
    font-size: 300%;
}

.deletePlayerButton {
    visibility: hidden;
}

.secondPlayerStyle button {
    margin: 5%;
    height: 10%;
    width: 80%;
    font-size: 120%;
}

.menu button {
    margin: 2%;
}

.playerStats {
    color: #ffffff;
    margin-top: 3%;
    font-size: 170%;
}
