.stats {

}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.secondPlayerStyle {
    height: 51px;
    position: relative;
    left: 100px;
    top: 30px;
}

.secondPlayerStyle:hover .deletePlayerButton {
    visibility: visible;
}

.secondPlayerName {
    height: 40px;
    position: absolute;
    color: #ffffff;
    font-size: 40px;
}

.deletePlayerButton {
    visibility: hidden;
}

.secondPlayerStyle div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondPlayerStyle button {
    height: 50px;
    width: 300px;
    font-size: 20px;
}

.menu {

}

.nextRound {
    height: 50px;
    width: 300px;
    font-size: 25px;
    margin: 50px;
}

.playerStats {
    color: #ffffff;
    margin-top: 10px;
    font-size: 40px;
    line-height: 80px;
}
